<mat-toolbar color="primary">
  <h6 style="margin-right: 20px">OLAP</h6>
  <button mat-button routerLink="/query" routerLinkActive="active">Analysis</button>
  <button mat-button routerLink="/sql" routerLinkActive="active">SQL</button>
  <button mat-button routerLink="/login" routerLinkActive="active">Login</button>
  <!--<button mat-button routerLink="/edu" routerLinkActive="active">Education</button>-->
  <!--<button mat-button routerLink="/contact" routerLinkActive="active">Contact</button>-->
</mat-toolbar>

<router-outlet></router-outlet>

